# LOCAL SERVER CONFIGURATION
HOST=
PORT=

# NODE-POSTGRES CONFIGURATION
PGUSER=
PGHOST=
PGPASSWORD=
PGDATABASE=
PGPORT=

# JWT TOKEN
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=

# MESSAGE BROKER
RABBITMQ_SERVER=